	<!-- ============================ Call To Action ================================== -->

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="margin-top: 10px;margin-bottom: 10px;">
           <h4> Online Fresh & Pure Products Delivery Platform in Delhi / NCR </h4>
            <p>  Pureasy as the name says, is an online platform to provide you with the best quality pure and fresh products without any hustle. We are India’s one of the best start-ups providing you fresh and pure products that are used daily in your home. Why purchase packed products when you are getting a chance of ordering fresh and pure products daily at the convenience of your doorsteps and that too with next day delivery option. Why wait for long or step out of home when you can get all that you need from our platform, be it fresh fruits & vegetables, fresh & pure spices, unpolished daal & pulses, pure honey, jaggery, dry fruits and much more. You not only save time but also money with our best prices & offers.
            </p>
            <p> Currently servicing in Faridabad region only. Check your pin code to see if we are serviceable in your location.</p>
        </div>
    </div>
</div>



    <section class="theme-bg call_action_wrap-wrap">
        <div class="container">
            <div class="row">



                <div class="col-lg-12">
                    
                    <div class="call_action_wrap">
                        <div class="call_action_wrap-head">
                            <h3>Cannot find what you are looking for?</h3>
                            <span>Tell us, we will love to get it for you</span>
                        </div>
                        <div class="newsletter_box">
                            <div class="input-group">
                                <input type="text" class="form-control" id="quename" name="quename" placeholder="Type here...">
                                <div class="input-group-append">
                                <button class="btn search_btn quesubmit" type="button"><i class="fas fa-arrow-alt-circle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


<!-- ============================ Footer Start ================================== -->

<footer class="dark-footer skin-dark-footer style-2">
    
    <div class="before-footer">
        <div class="container">
            <div class="row">
        



                <div class="col-lg-4 col-md-4">
                    <div class="single_facts">
                        <div class="facts_icon">
                            <i class="ti-shopping-cart"></i>
                        </div>
                        <div class="facts_caption">
                            <h4>Free Home Delivery</h4>
                            <p>Free home delivery on all eligibile orders in Faridabad region only</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <div class="single_facts">
                        <div class="facts_icon">
                            <i class="ti-money"></i>
                        </div>
                        <div class="facts_caption">
                            <h4>Money Back Guarantee</h4>
                            <p>Avail 100% refund, if you are not satisfied with the product quality</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <div class="single_facts last">
                        <div class="facts_icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="facts_caption">
                            <h4>24x7 Online Support</h4>
                            <p>If you have any complaint or any query with the product or service, please feel free to call or email us anytime</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-4 col-md-4">
                    <div class="footer_widget">
                        <h4 class="extream">Contact us</h4>
                        <img src="/images/logo.png" style="width:100px">
                        <!-- <p>Let's here all about it! <a href="#" class="theme-cl">Get it touch</a></p> -->
                        
                        <div class="address_infos">
                            <ul>
                                <li><i class="ti-home theme-cl"></i>130 , near shiv mandir, village badraula, faridabad, Haryana-121101</li>
                                <li><i class="ti-headphone-alt theme-cl"></i>9650761037</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                        
                <div class="col-lg-2 col-md-2">
                    <div class="footer_widget">
                        <h4 class="widget_title">Categories</h4>
                        <ul class="footer-menu">

<% for(i=0;i<result[0].length;i++) {%>

                            <li><a href="shop?categoryid=<%=result[0][i].id%>"><%=result[0][i].name%></a></li>

                            <% } %>
                           
                        </ul>
                    </div>
                </div>
                        
                <div class="col-lg-2 col-md-2">
                    <div class="footer_widget">
                        <h4 class="widget_title">Important Links</h4>
                        <ul class="footer-menu">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/refund-policy">Refund Policy</a></li>
                            <li><a href="/faq">FAQ's</a></li>

                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4">
                    <div class="footer_widget">
                        <h4 class="widget_title">Latest News</h4>
                        <ul class="footer-menu">
                            <li>
                                <span>
                                <a href="#">
                                <img src="https://images.squarespace-cdn.com/content/v1/550f5923e4b00ccc1da1246b/1559083274863-54YV1MQUC4L1LJFWCUNF/ke17ZwdGBToddI8pDm48kOWjjJ5fqiOcRfqa8e2ltc4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dsqgpe7HqRQBmOHC4l5fU3W7SBic8YWkSEcm981elChfCjLISwBs8eEdxAxTptZAUg/Playstore.png" style="width:120px;"/>
                           
                            
                            </a>

                            <a href="#"     ><img src="https://static.wixstatic.com/media/7127d0_1ce87c9fc5c44a39add5730229b48794~mv2.png/v1/fill/w_561,h_188,al_c,q_85,usm_0.66_1.00_0.01/app%20store%20download.webp" style="width:120px;"/></a>

                        </span>
                            
                        <div class="col-lg-12 col-md-12 ">
                            <ul class="footer_social_links">
                                <li><a href="https://www.facebook.com/pureasy.in/"><i class="ti-facebook" style="color:white;font-size:22px"></i></a></li>
                                <li><a href="https://twitter.com/pureasyy?s=08"><i class="ti-twitter" style="color: white;font-size:22px"></i></a></li>
                                <li><a href="https://www.instagram.com/pureasy.in/"><i class="ti-instagram" style="color: white;font-size:22px"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCuACPWqTTT5eXTWo6gsa7Og"><i class="ti-youtube" style="color: white;font-size:22px"></i></a></li>
                            </ul>
                        </div>
                        </ul>
                    </div>
                </div>
                
                <!-- <div class="col-lg-2 col-md-2">
                    <div class="footer_widget">
                        <h4 class="widget_title">Customer Support</h4>
                        <ul class="footer-menu">
                            <li><a href="#">Conditions</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-6 col-md-8">
                    <p class="mb-0">© Copyright 2021 Pureasy. All Rights Reserved.</p>
                </div>
                
              
                
            </div>
        </div>
    </div>
</footer>
<!-- ============================ Footer End ================================== -->

<!-- cart -->
<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
    <div class="rightMenu-scroll">
        <h4 class="cart_heading">Your cart</h4>
        <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
        <div class="right-ch-sideBar" id="side-scroll">
            
            <div class="cart_select_items">
                <!-- Single Item -->
                <div class="cart_selected_single">
                    <div class="cart_selected_single_thumb">
                        <a href="#"><img src="/assets/img/product.jpg" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="cart_selected_single_caption">
                        <h4 class="product_title">Mahik Book pro</h4>
                        <span class="numberof_item">$15x2</span>
                        <a href="#" class="text-danger">Remove</a>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="cart_selected_single">
                    <div class="cart_selected_single_thumb">
                        <a href="#"><img src="/assets/img/product.jpg" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="cart_selected_single_caption">
                        <h4 class="product_title">Mahik Book pro</h4>
                        <span class="numberof_item">$15x2</span>
                        <a href="#" class="text-danger">Remove</a>
                    </div>
                </div>
                <!-- Single Item -->
                <div class="cart_selected_single">
                    <div class="cart_selected_single_thumb">
                        <a href="#"><img src="/assets/img/product.jpg" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="cart_selected_single_caption">
                        <h4 class="product_title">Mahik Book pro</h4>
                        <span class="numberof_item">$15x2</span>
                        <a href="#" class="text-danger">Remove</a>
                    </div>
                </div>
            </div>
            
            <div class="cart_subtotal">
                <h6>Subtotal<span class="theme-cl">$120.47</span></h6>
            </div>
            
            <div class="cart_action">
                <ul>
                    <li><a href="#" class="btn btn-go-cart btn-theme">View/Edit Cart</a></li>
                    <li><a href="#" class="btn btn-checkout">Checkout Now</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<!-- cart -->

<!-- Product View -->
<div class="modal fade" id="viewproduct-over" tabindex="-1" role="dialog" aria-labelledby="add-payment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="view-product">
            <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
            <div class="modal-body">
                <div class="row align-items-center">
        
            <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="sp-wrap">
                        <img src="/assets/img/detail/detail-6.png" class="img-fluid rounded" alt="">
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="woo_pr_detail">
                        
                        <div class="woo_cats_wrps">
                            <a href="#" class="woo_pr_cats">Casual Shirt</a>
                            <span class="woo_pr_trending">Trending</span>
                        </div>
                        <h2 class="woo_pr_title">Fresh Green Pineapple</h2>
                        
                        <div class="woo_pr_reviews">
                            <div class="woo_pr_rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="woo_ave_rat">4.8</span>
                            </div>
                            <div class="woo_pr_total_reviews">
                                <a href="#">(124 Reviews)</a>
                            </div>
                        </div>
                        
                        <div class="woo_pr_price">
                            <div class="woo_pr_offer_price">
                                <h3>$149<sup>.00</sup><span class="org_price">$199<sup>.99</sup></span></h3>
                            </div>
                        </div>
                        
                        <div class="woo_pr_short_desc">
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores voluptatem quia voluptas sit aspernatur.</p>
                        </div>
                        
                        <div class="woo_pr_color flex_inline_center mb-3">
                            <div class="woo_pr_varient">
                                <h6>Size:</h6>
                            </div>
                            <div class="woo_colors_list pl-3">
                                <div class="custom-varient custom-size">
                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioOne" value="5" data-toggle="form-caption" data-target="#sizeCaption">
                                    <label class="custom-control-label" for="sizeRadioOne">SM</label>
                                </div>
                                <div class="custom-varient custom-size">
                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioTwo" value="6" data-toggle="form-caption" data-target="#sizeCaption">
                                    <label class="custom-control-label" for="sizeRadioTwo">M</label>
                                </div>
                                <div class="custom-varient custom-size">
                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioThree" value="6.6" data-toggle="form-caption" data-target="#sizeCaption">
                                    <label class="custom-control-label" for="sizeRadioThree">L</label>
                                </div>
                                <div class="custom-varient custom-size">
                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioFour" value="7" data-toggle="form-caption" data-target="#sizeCaption" checked>
                                    <label class="custom-control-label" for="sizeRadioFour">XL</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="woo_pr_color flex_inline_center mb-3">
                            <div class="woo_pr_varient">
                                <h6>Color:</h6>
                            </div>
                            <div class="woo_colors_list pl-3">
                                <div class="custom-varient custom-color red">
                                    <input type="radio" class="custom-control-input" name="colorRadio" id="red" value="5" data-toggle="form-caption" data-target="#colorCaption">
                                    <label class="custom-control-label" for="red">5</label>
                                </div>
                                <div class="custom-varient custom-color green">
                                    <input type="radio" class="custom-control-input" name="colorRadio" id="green" value="6" data-toggle="form-caption" data-target="#colorCaption">
                                    <label class="custom-control-label" for="green">6</label>
                                </div>
                                <div class="custom-varient custom-color purple">
                                    <input type="radio" class="custom-control-input" name="colorRadio" id="purple" value="6.6" data-toggle="form-caption" data-target="#colorCaption" checked>
                                    <label class="custom-control-label" for="purple">6.5</label>
                                </div>
                                <div class="custom-varient custom-color yellow">
                                    <input type="radio" class="custom-control-input" name="colorRadio" id="yellow" value="7" data-toggle="form-caption" data-target="#colorCaption">
                                    <label class="custom-control-label" for="yellow">7</label>
                                </div>
                                <div class="custom-varient custom-color blue">
                                    <input type="radio" class="custom-control-input" name="colorRadio" id="blue" value="6" data-toggle="form-caption" data-target="#colorCaption">
                                    <label class="custom-control-label" for="blue">7.5</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="woo_btn_action">
                            <div class="col-12 col-lg-auto">
                                <input type="number" class="form-control mb-2 full-width" value="1" />
                            </div>
                        </div>
                        
                        <div class="woo_btn_action">
                            <div class="col-12 col-lg-auto">
                                <button type="submit" class="btn btn-block btn-dark mb-2">Add to Cart <i class="ti-shopping-cart-full ml-2"></i></button>
                            </div>
                            <div class="col-12 col-lg-auto">
                                <button class="btn btn-gray btn-block mb-2" data-toggle="button">Wishlist <i class="ti-heart ml-2"></i></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/metisMenu.min.js"></script>
<script src="/assets/js/owl-carousel.js"></script>
<script src="/assets/js/ion.rangeSlider.min.js"></script>
<script src="/assets/js/smoothproducts.js"></script>
<script src="/assets/js/jquery-rating.js"></script>
<script src="/assets/js/jQuery.style.switcher.js"></script>
<script src="/assets/js/custom.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

<script>
function openRightMenu() {
    document.getElementById("rightMenu").style.display = "block";
}
function closeRightMenu() {
    document.getElementById("rightMenu").style.display = "none";
}









$('.quesubmit').click(function(){
    if($('#quename').val() == '' || $('#quename').val() == []) alert('Type your question')
    else {
        let name = $('#quename').val()
        $.post('/quename/submit',{name},data=>{
            alert('Our team will contact you soon')
        })
    }
})


</script>

</body>

<!-- Mirrored from themezhub.net/odex-live/odex/grocery-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Jul 2021 12:49:57 GMT -->
</html>