<!DOCTYPE html>
<html lang="en">
<!-- head start -->


<!-- Mirrored from htmldemo.hasthemes.com/grano/grano/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 05 Jun 2021 11:12:51 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Pure Easy - Organic Food">
    <meta name="keywords" content="Pure Easy - Organic Food">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pure Easy - Organic Food </title>

    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg">
    <link rel="stylesheet" href="assets/css/vendor/ionicons.css" />
    <link rel="stylesheet" href="assets/css/vendor/line-awesome.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->

    <!--  Minified  css  -->

    <!--  # vendor min css,plugins min css,style min css -->


    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
<link rel="canonical" href="https://hasthemes.com/" />
<link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
<link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
<link rel="stylesheet" href="assets/css/style.min.css" /> -->
</head>
<!-- head end -->

<body>
    <!-- header section start -->
    <!-- Modal -->
    <div class="modal fade offcanvas-modal" id="exampleModal">
        <div class="modal-dialog offcanvas-dialog">
            <div class="modal-content">
                <div class="modal-header offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <ul class="header-topbar-nav nav my-4 justify-content-center">
                   
                    <li class="topbar-nav-item">
                        <a class="topbar-nav-link" href="#"><i class="icon las la-shipping-fast"></i>Track Your Order</a>
                    </li>
                </ul>

                <div class="bg-white">
                    <ul class="quick-links justify-content-center">
                        <!-- quick-link-item -->
                        <li class="quick-link-item d-inline-flex">
                            <span class="quick-link-icon flex-shrink-0">
              <a href="#" class="quick-link">
                <i class="las la-user-circle"></i>
              </a>
            </span>
                            <span class="flex-grow-1">
              <a href="#" class="my-account">My account</a>
              <a href="#" class="sign-in">Sign out</a>
            </span>
                        </li>
                        <!-- quick-link-item end -->
                        <!-- quick-link-item -->
                        <li class="quick-link-item d-inline-flex">
                            <a href="#" class="quick-link">
                                <span class="quick-link-icon flex-shrink-0">
                <i class="las la-sync"></i>
                <span class="badge rounded-pill bg-success">2</span>
                                </span>
                            </a>
                        </li>
                        <!-- quick-link-item end -->
                        <!-- quick-link-item -->
                        <li class="quick-link-item d-inline-flex">
                            <a href="#" class="quick-link">
                                <span class="quick-link-icon flex-shrink-0">
                <i class="lar la-heart"></i>
                <span class="badge rounded-pill bg-success">3</span>
                                </span>
                            </a>
                        </li>
                        <!-- quick-link-item end -->
                    </ul>
                </div>

                <form action="#" class="offcanvas-form">
                    <input type="text" class="form-control" placeholder="Enter your search key ... " />
                    <button class="btn-search btn-success" type="submit">
                        <i class="las la-search"></i>
                    </button>
                </form>

                <!-- offcanvas-mobile-menu start -->

                <nav id="offcanvasNav" class="offcanvas-menu">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Home</a>
                            <!-- home sub menu -->
                            <ul>
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="index-2.html">Home 2</a></li>
                                <li><a href="index-3.html">Home 3</a></li>
                                <li><a href="index-4.html">Home 4</a></li>
                            </ul>
                            <!-- home sub menu end-->
                        </li>
                        <li>
                            <a href="javascript:void(0)">shop</a>

                            <!-- shop mega menu -->

                            <ul>
                                <li>
                                    <a href="#">Shop Grid</a>
                                    <ul>
                                        <li>
                                            <a href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-5-column.html">Shop Grid 5 Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right-sidebar.html">Shop Grid Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop List</a>
                                    <ul>
                                        <li><a href="shop-grid-list.html">Shop List</a></li>
                                        <li>
                                            <a href="shop-grid-list-left-sidebar.html">Shop List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-list-right-sidebar.html">Shop List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Shop Single</a>
                                    <ul>
                                        <li><a href="single-product.html">Shop Single</a></li>
                                        <li>
                                            <a href="single-product-configurable.html">Shop Variable</a>
                                        </li>
                                        <li>
                                            <a href="single-product-affiliate.html">Shop Affiliate</a>
                                        </li>
                                        <li><a href="single-product-group.html">Shop Group</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">other pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About Page</a></li>
                                        <li><a href="cart.html">Cart Page</a></li>
                                        <li><a href="checkout.html">Checkout Page</a></li>
                                        <li><a href="compare.html">Compare Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- shop mega menu end-->
                        </li>
                        <li>
                            <a href="javascript:void(0)">pages</a>
                            <!-- pages sub menu -->
                            <ul>
                                <li><a href="about-us.html">About Page</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout Page</a></li>
                                <li><a href="compare.html">Compare Page</a></li>
                                <li><a href="login.html">Login &amp; Register Page</a></li>
                                <li><a href="myaccount.html">Account Page</a></li>
                                <li><a href="wishlist.html">Wishlist Page</a></li>
                            </ul>
                            <!-- pages sub menu end-->
                        </li>
                        <li>
                            <a href="javascript:void(0)">Blog</a>
                            <!-- blog sub menu -->
                            <ul>
                                <li>
                                    <a href="#">Blog Grid</a>
                                    <ul>
                                        <li>
                                            <a href="blog-grid-5-column.html">Blog Grid 5 column</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-6-column.html">Blog Grid 6 column</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog List</a>
                                    <ul>
                                        <li>
                                            <a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog details</a>
                                    <ul>
                                        <li>
                                            <a href="blog-details-left-sidebar.html">Blog details Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-details-right-sidebar.html">Blog details Right Sidbar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- blog sub menu end-->
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>

                    <div class="offcanvas-social">
                        <ul>
                            <li>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-google"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- offcanvas-mobile-menu end -->
                <div class="header-top">
                    <ul id="offcanvas-menu2" class="blog-ctry-menu blog-ctry-menu2">
                        <li>
                            <a href="javascript:void(0)">currency: USD $</a>
                            <ul class="category-sub-menu">
                                <li><a href="#">EUR €</a></li>
                                <li><a href="#">USD $</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img class="me-1" src="assets/images/icon/us-flag.jpg" alt="img" />English</a>
                            <ul class="category-sub-menu">
                                <li>
                                    <a href="#"><img class="me-1" src="assets/images/icon/us-flag.jpg" alt="flags" />
                                        English</a>
                                </li>
                                <li>
                                    <a href="#"><img class="me-1" src="assets/images/icon/italiano-flag.jpg" alt="flags" />
                                        Français</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="header-top-bar d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-3">
                        <div class="social-links social-links-dark">
                            <a class="social-link facebook" href="#"><i class="lab la-facebook"></i></a>
                            <a class="social-link twitter" href="#"><i class="lab la-twitter"></i></a>
                            <a class="social-link youtube" href="#"><i class="lab la-youtube"></i></a>
                            <a class="social-link instagram" href="#"><i class="lab la-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-9">
                        <ul class="header-topbar-nav nav">
                           

<% if(login==true) { %>

                            <li class="topbar-nav-item">
                                <a class="topbar-nav-link" href="/myorder"><i class="icon las la-shipping-fast"></i>My Orders</a>
                            </li>
                           
                            <% } else { %>
                                <li class="topbar-nav-item">
                                    <a class="topbar-nav-link" href="/login">Login/Register</a>
                                </li>

                                <% } %>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- header top end -->
        <div id="active-sticky2" class="header-space bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-4 col-lg-7 col-xl-8">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <div class="d-flex align-items-center vertical-menu">
                                    <button class="menu-bars menu-btn d-none d-lg-block">
                                        <i class="las la-bars"></i>
                                    </button>
                                    <a class="logo" href="/"><img src="/images/logo.png" alt="image_not_found" style="width: 100px;" /></a>
                                    <ul class="vmenu-content">
                                        

                                        <% for(i=0;i<result[0].length;i++) { %>
                                        <li class="menu-item"><a href="#"> <%=result[0][i].name%></a></li>
                                       <% } %>
                                    </ul>
                                    <!-- menu content -->

                                </div>
                            </div>
                            <div class="flex-grow-1 d-none d-lg-block">
                                <form class="search-form position-relative" action="/search">
                                    <div class="input-group">
                                        <input class="form-control" type="text" name="search" placeholder="Enter your search key ... " />
                                        <div class="input-group-text">
                                            <button class="search-btn btn-success">
                                                <i class="ion-ios-search-strong"></i>
                                            </button>
                                        </div>
                                    </div>

                                
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-8 col-lg-5 col-xl-4">
                        <ul class="quick-links">
                           
                          
                            <li class="quick-link-item">
                                <a href="#" class="quick-link">
                                    <span class="quick-link-icon flex-shrink-0">
        <i class="las la-shopping-bag"></i>
        <span class="badge rounded-pill bg-success">4</span>
                                    </span>
                                    
                                </a>
                                <div class="checkout-cart">
                                    <ul class="checkout-scroll">
                                        <li class="checkout-cart-list">
                                            <div class="checkout-img">
                                                <img class="product-image" src="assets/images/mini-cart/1.jpg" alt="img" />
                                                <span class="product-quantity">1x</span>
                                            </div>
                                            <div class="checkout-block">
                                                <a class="product-name" href="#">Warburtons 9 Crumpets</a>
                                                <span class="product-price">€24.33</span>
                                                <a class="remove-cart" href="#">
                                                    <i class="las la-times"></i>
                                                </a>
                                                <div class="product-size">
                                                    <span>Size: S</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="checkout-cart-list">
                                            <div class="checkout-img">
                                                <img class="product-image" src="assets/images/mini-cart/2.jpg" alt="img" />
                                                <span class="product-quantity">1x</span>
                                            </div>
                                            <div class="checkout-block">
                                                <a href="#" class="product-name">Snacking Essentials Cashew</a>
                                                <span class="product-price">€23.33</span>
                                                <a class="remove-cart" href="#">
                                                    <i class="las la-times"></i>
                                                </a>
                                                <div class="product-size">
                                                    <span>Size: S</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="list-group checkout-sub-total">
                                        <li class="list-group-item">
                                            <span>Subtotal</span>
                                            <span>€146.00</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span>shipping</span>
                                            <span>€7.00</span>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Total</strong>
                                            <strong>€58.71</strong>
                                        </li>
                                    </ul>

                                    <!-- checkout-action button start -->
                                    <div class="checkout-action">
                                        <a href="checkout.html" class="btn btn-lg btn-dark d-block">Checkout</a>
                                    </div>
                                    <!-- checkout-action button end -->
                                </div>


                            </li>
                            <!-- quick-link-item end -->
                            <li class="quick-link-item d-lg-none">
                                <button class="toggle-menu" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="las la-bars"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- header middle end -->
        <div id="active-sticky" class="header-botom bg-dark d-none d-lg-block">
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <ul class="main-menu">
                            <li class="main-menu-item position-relative">
                                <a class="main-menu-link" href="/">Home</a>
                            
                            </li>

                      

                       

                        
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-info">
                            <i class="las la-headset"></i>
                            <span>Call us:</span>
                            <a href="tel:0123456789">0123456789</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header middle end -->
    </header>