<%- include ('./indexheader.ejs') %>

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			

			
			
			<!-- =========================== Login/Signup =================================== -->
			<section>
				<div class="container">
					
					<div class="row">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="login_signup">
								<h3 class="login_sec_title">Login / Register</h3>
                                <form action="/login/verification" method="post">
								
								
									
									<div class="form-group">
										<label> Please Enter Mobile Number</label>
										<input type="number" name="number" class="form-control">
									</div>
									
									<div class="login_flex">
										
										<div class="login_flex_2">
											<div class="form-group mb-0">
												<button type="submit" class="btn btn-md btn-theme">Login</button>
											</div>
										</div>
									</div>
								
								</form>
							</div>
						</div>
						
					
						
					</div>
				</div>
			</section>
			<!-- =========================== Login/Signup =================================== -->

			<!-- ============================ Call To Action ================================== --> 
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3>Do You Have Questions ?</h3>
									<span>We'll help you to grow your career and growth.</span>
								</div>
								<div class="newsletter_box">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Subscribe here...">
										<div class="input-group-append">
										<button class="btn search_btn" type="button"><i class="fas fa-arrow-alt-circle-right"></i></button>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
            <%- include ('./indexfooter.ejs') %>
	