<%- include ('./adminheader.ejs') %>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card insertdiv" id='insertdiv'>
                  <div class="card-header">
                    <h4>New Product </h4>
                  </div>
                  <form action="/purchase-product/insert" method="POST" enctype="multipart/form-data" class="uploadImage">
                  <div class="card-body">
                  
                      <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Category Name</label>
                               <select name="categoryid" id="categoryid" class="form-control" required></select>
                              </div>
                              
                          </div>


                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Subcategory Name</label>
                               <select name="subcategoryid" id="subcategoryid" class="form-control" required></select>
                              </div>
                              
                          </div>


                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Brand Name</label>
                               <select name="brandid" id="brandid" class="form-control" required></select>
                              </div>
                              
                          </div>

                          
                      </div>
                  

                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="form-group">
                              <label>Product Name</label>
                             <input type="text" name="name" class="form-control" required>
                            </div>
                            
                        </div>



                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Short Product Name</label>
                               <input type="text" name="short_name" class="form-control" required>
                              </div>
                              
                          </div>



                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Size</label>
                                <select name="sizeid" id="sizeid" class="form-control" required></select>
                              </div>
                              
                          </div>

                      
                    </div>
                


                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="form-group">
                              <label>Price</label>
                             <input type="text" name="price" class="form-control" required>
                            </div>
                            
                        </div>



                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Quantity</label>
                               <input type="text" name="quantity" class="form-control" required>
                              </div>
                              
                          </div>



                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Discount (In%) </label>
                                <input type="text" name="discount" class="form-control" value="0" required>
                              </div>
                              
                          </div>

                      
                    </div>



                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="form-group">
                              <label>Product Description</label>
                             <textarea class="form-control" name="description" required></textarea>
                            </div>
                            
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                          <div class="form-group">
                              <label>Main Image</label>
                             <input type="file" name="image" class="form-control"  required>
                            </div>
                            
                        </div>



                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Second Image</label>
                               <input type="file" name="image1" class="form-control">
                              </div>
                              
                          </div>



                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="form-group">
                                <label>Alternate Image </label>
                                <input type="file" name="image2" class="form-control">
                              </div>
                              
                          </div>

                      
                    </div>
              
                  
                  </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    <button class="btn btn-danger mr-1 show" id="show" type="button" >Show All Product</button>
                  </div>
                  </form>
                </div>
            
                
                
<div class="card mb-4" id='result'></div>



<div class="card mb-4" id='editdiv'>
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back1" style="margin:10px">Back</button></span>Edit Data</h6>
    <div class="card-body">
    
        <form>
           
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Category Name</label>
                 <select name="categoryid" id="pcategoryid" class="form-control" required></select>
                </div>
                
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Subcategory Name</label>
                 <select name="subcategoryid" id="psubcategoryid" class="form-control" required></select>
                </div>
                
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Brand Name</label>
                 <select name="brandid" id="pbrandid" class="form-control" required></select>
                </div>
                
            </div>

            
        </div>


        <input type="hidden" id="pid" class="form-control" value="pid" required>
    

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Product Name</label>
               <input type="text" id="pname" class="form-control" required>
              </div>
              
          </div>



          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Short Product Name</label>
                 <input type="text" id="pshort_name" class="form-control" required>
                </div>
                
            </div>



            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Size</label>
                  <select name="sizeid" id="psizeid" class="form-control" required></select>
                </div>
                
            </div>

        
      </div>
  


      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Price</label>
               <input type="text" id="pprice" class="form-control" required>
              </div>
              
          </div>



          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Quantity</label>
                 <input type="text" id="pquantity" class="form-control" required>
                </div>
                
            </div>



            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Discount (In%) </label>
                  <input type="text" id="pdiscount" class="form-control" required>
                </div>
                
            </div>

        
      </div>



      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
                <label>Product Description</label>
               <textarea class="form-control" id="pdescription" required></textarea>
              </div>
              
          </div>

      </div>
            
            <button type="button" id='update' class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
    
    
    <div class="card mb-4" id="updateimagediv">
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back2" style="margin:10px">Back</button></span> Upload Image</h6>
    <div class="card-body">
    
        <form action="/purchase-product/update_image" method="POST" enctype="multipart/form-data">
           
          
          
          
          
          <div class="form-row">
       
              <input type="hidden" class="form-control" placeholder="Email" id="peid" name="id" readonly>

                    <div class="form-group col-md-4">
                      <label class="form-label">Image</label>
                      <input type="file" class="form-control" name='image' placeholder="Password">
                      <div class="clearfix"></div>
                      </div>

                      <div class="form-group col-md-4">
                        <label class="form-label">Image</label>
                        <input type="file" class="form-control" name='image1' placeholder="Password">
                        <div class="clearfix"></div>
                        </div>
    
    
            <div class="form-group col-md-4">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name='image2' placeholder="Password">
            <div class="clearfix"></div>
            </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
            
              </div>
             
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
       
        </div>
      </div>
      
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/light/assets/js/app.min.js"></script>   
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/light/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/light/assets/js/custom.js"></script>


  <script src="/javascripts/product.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
  
    $('.uploadImage').submit(function (e) {
      e.preventDefault();
  
      // var title = $('#title').val(); 
  
      $(this).ajaxSubmit({
        // data: {title: title},
        contentType: 'application/json',
        success: function (response) {
          alert('successfully')
        }
      });
      return false;
    });
  
  
  
  </script>

</body>


</html>