<%- include ('./indexheader.ejs') %>

    
        <section class="section">
         
          <div class="container mt-5">
            <div class="page-error">
              <div class="page-inner " >
                
             <input type="hidden" class="msg" value="<%=msg%>">

              <div id="result"></div>
               
              </div>
            </div>
          </div>
         
        </section>
      






<%- include ('./indexfooter.ejs') %>

<script>

$( document ).ready(function() {
   let msg = $('.msg').val()
   $.getJSON(`/g?msg=${msg}`,data=>{
    console.log(data[0].content)
     a(data)
  })
});

 


  function a(data){
    let table = `<p>
      

<p>${data[0].content}</p>

      </p>
      `
      $('#result').html(table)
  }



</script>