<%- include ('./indexheader.ejs') %>

    	<!-- =========================== Breadcrumbs =================================== -->
			<div class="image-bg pt-5 pb-5" style="background-color: gray;" data-overlay="6">
				<div class="container">
					<div class="row justify-content-center">
						
						<div class="col-lg-9 col-md-12 col-sm-12">
							<div class="text-center">
								<h2 class="mb-3"><%=title%></h2>
							</div>
						
						</div>
						
					</div>
				</div>
			</div>
			<!-- =========================== Breadcrumbs =================================== -->
        <section class="section">
         
          <div class="container mt-5">
            <div class="page-error">
              <div class="page-inner " >

                <h3 class="text-center" style="margin-bottom:40px;"></h3>
                
             <input type="hidden" class="msg" value="<%=msg%>">

              <div id="result"></div>
               
              </div>
            </div>
          </div>
         
        </section>
      






<%- include ('./indexfooter.ejs') %>

<script>

$( document ).ready(function() {
   let msg = $('.msg').val()
   $.getJSON(`/g?msg=${msg}`,data=>{
    console.log(data[0].content)
     a(data)
  })
});

 


  function a(data){
    let table = `<p>
      

<p>${data[0].content}</p>

      </p>
      `
      $('#result').html(table)
  }



</script>