<%- include ('./indexheader.ejs') %>

    
        <section class="section">
         
          <div class="container mt-5">
            <div class="page-error">
              <div class="page-inner " >
                
                <div class="page-description" style="margin-bottom: 10px;">
                 <%=result[1][0].content%>
                </div>
               
              </div>
            </div>
          </div>
         
        </section>
      






<%- include ('./indexfooter.ejs') %>